Repository brenobaptista/brenobaptista.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --single-quote --write

Update texts and link to CV
  src/pages/index.js
Due: eslint --fix

Updates
  404.html
  404/index.html
  blog/ebook/index.html
  blog/index.html
  blog/manjaro-i3-troubleshooting/index.html
  blog/software-manjaro-i3/software-manjaro-i3/index.html
  chunk-map.json
  component---src-pages-index-js-2f400dabc7b5a39a5ae4.js
  component---src-pages-index-js-2f400dabc7b5a39a5ae4.js.map
  component---src-pages-index-js-899ef265e7cd96205cb2.js
  component---src-pages-index-js-899ef265e7cd96205cb2.js.map
  index.html
  offline-plugin-app-shell-fallback/index.html
  page-data/app-data.json
  projects/index.html
  rss.xml
  sw.js
  webpack-runtime-3e18301840ab2c20fd2d.js
  webpack-runtime-3e18301840ab2c20fd2d.js.map
  webpack-runtime-509cd3071a46ff6c89b9.js
  webpack-runtime-509cd3071a46ff6c89b9.js.map
  webpack.stats.json
Due: eslint --fix, prettier --single-quote --write

Updated README for troubleshooting node-gyp
  README.md
  yarn.lock
Due: prettier --single-quote --write

Updated because of ESLint rules
  gatsby-config.js
  gatsby-node.js
Due: eslint --fix

Updated ESLint rules
  .eslintrc
  src/components/Bio.js
  src/components/BlogCard.js
  src/components/BlogPost.js
  src/components/Card.js
  src/components/Layout.js
  src/components/Navbar/Backdrop.js
  src/components/Navbar/DrawerToggle.js
  src/components/Navbar/Header.js
  src/components/Navbar/NavigationItem.js
  src/components/Navbar/SideDrawer.js
  src/components/Navbar/Toolbar.js
  src/components/SEO.js
  src/pages/blog.js
  src/pages/index.js
  src/pages/projects.js
Due: eslint --fix

Revert "Updated ESLint rules"
  .eslintrc
  src/components/Bio.js
  src/components/BlogCard.js
  src/components/BlogPost.js
  src/components/Card.js
  src/components/Layout.js
  src/components/Navbar/Backdrop.js
  src/components/Navbar/DrawerToggle.js
  src/components/Navbar/Header.js
  src/components/Navbar/NavigationItem.js
  src/components/Navbar/SideDrawer.js
  src/components/Navbar/Toolbar.js
  src/components/SEO.js
  src/pages/blog.js
  src/pages/index.js
  src/pages/projects.js
Due: eslint --fix

Updated ESLint rules and components
  .eslintrc
  src/components/Bio.js
  src/components/BlogCard.js
  src/components/BlogPost.js
  src/components/Card.js
  src/components/Layout.js
  src/components/Navbar/Backdrop.js
  src/components/Navbar/DrawerToggle.js
  src/components/Navbar/Header.js
  src/components/Navbar/NavigationItem.js
  src/components/Navbar/SideDrawer.js
  src/components/Navbar/Toolbar.js
  src/components/SEO.js
  src/pages/blog.js
  src/pages/index.js
  src/pages/projects.js
Due: eslint --fix

Updated Bulma
  package.json
  src/styles/index.scss
  yarn.lock
Due: prettier --single-quote --write

Updated for ESLint
  gatsby-config.js
  gatsby-node.js
Due: eslint --fix

Fixed blog
  src/components/BlogPost.js
  src/pages/blog.js
  static/blog/software-manjaro-i3/index.md
Due: eslint --fix, prettier --single-quote --write

Updated dependencies
  package.json
  yarn.lock
Due: prettier --single-quote --write

Setup first unit test
  __mocks__/file-mock.js
  __mocks__/gatsby.js
  __tests__/__snapshots__/backdrop.js.snap
  __tests__/backdrop.js
  jest-preprocess.js
  jest.config.js
  loadershim.js
  package.json
  setup-test-env.js
  yarn.lock
Due: eslint --fix, prettier --single-quote --write

Updated Header
  src/components/Navbar/Header.js
Due: eslint --fix

Added more tests
  __tests__/__snapshots__/logo.js.snap
  __tests__/drawerToggle.js
  __tests__/logo.js
Due: eslint --fix

Updated scripts
  package.json
Due: prettier --single-quote --write

Updated README
  README.md
Due: prettier --single-quote --write

Added pre-push git hook
  .huskyrc.json
Due: prettier --single-quote --write

Added more tests
  __tests__/__snapshots__/header.js.snap
  __tests__/__snapshots__/navigationItem.js.snap
  __tests__/__snapshots__/navigationItems.js.snap
  __tests__/__snapshots__/sideDrawer.js.snap
  __tests__/__snapshots__/toolbar.js.snap
  __tests__/header.js
  __tests__/navigationItem.js
  __tests__/navigationItems.js
  __tests__/sideDrawer.js
  __tests__/toolbar.js
Due: eslint --fix

Fixed logo test
  __tests__/__snapshots__/logo.js.snap
  __tests__/logo.js
Due: eslint --fix

Added post about Zsh
  src/styles/theme.scss
  static/blog/how-to-setup-a-nice-terminal-using-zsh/desktop.png
  static/blog/how-to-setup-a-nice-terminal-using-zsh/index.md
  static/blog/how-to-setup-a-nice-terminal-using-zsh/terminal.png
Due: prettier --single-quote --write

Updates
  404.html
  404/index.html
  b2521690e543193caf342324bf71d3f692a7171f-815744de0816cb9368b6.js
  b2521690e543193caf342324bf71d3f692a7171f-815744de0816cb9368b6.js.map
  b2521690e543193caf342324bf71d3f692a7171f-f2b503203a41f7aa2020.js.map
  blog/ebook/index.html
  blog/how-to-setup-a-nice-terminal-using-zsh/desktop.png
  blog/how-to-setup-a-nice-terminal-using-zsh/index.html
  blog/how-to-setup-a-nice-terminal-using-zsh/index.md
  blog/how-to-setup-a-nice-terminal-using-zsh/terminal.png
  blog/index.html
  blog/manjaro-i3-troubleshooting/index.html
  blog/software-manjaro-i3/index.html
  index.html
  offline-plugin-app-shell-fallback/index.html
  page-data/app-data.json
  page-data/blog/how-to-setup-a-nice-terminal-using-zsh/page-data.json
  page-data/blog/page-data.json
  page-data/blog/software-manjaro-i3/page-data.json
  projects/index.html
  rss.xml
  sitemap.xml
  static/369d8868a51d1ec6e0a6791a9960ea36/12f09/terminal.png
  static/369d8868a51d1ec6e0a6791a9960ea36/a1253/terminal.png
  static/369d8868a51d1ec6e0a6791a9960ea36/e4a3f/terminal.png
  static/369d8868a51d1ec6e0a6791a9960ea36/fcda8/terminal.png
  static/fbe20cbea950ecdc9dee2119e9d981b4/12f09/desktop.png
  static/fbe20cbea950ecdc9dee2119e9d981b4/29114/desktop.png
  static/fbe20cbea950ecdc9dee2119e9d981b4/c83ae/desktop.png
  static/fbe20cbea950ecdc9dee2119e9d981b4/e4a3f/desktop.png
  static/fbe20cbea950ecdc9dee2119e9d981b4/efc66/desktop.png
  static/fbe20cbea950ecdc9dee2119e9d981b4/fcda8/desktop.png
  styles.3e38acd2ad3b50e629a3.css
  styles.45fb18f85e15c495a5ad.css
  sw.js
  webpack-runtime-5460e7bc40aa978e7649.js
  webpack-runtime-5460e7bc40aa978e7649.js.map
  webpack-runtime-9707895ba443e1a7c424.js
  webpack-runtime-9707895ba443e1a7c424.js.map
  webpack.stats.json
Due: eslint --fix, prettier --single-quote --write

Renamed zsh post
  static/blog/zsh/desktop.png
  static/blog/zsh/index.md
  static/blog/zsh/terminal.png
Due: prettier --single-quote --write

Added post about ESLint + Prettier + Husky + Lint Staged
  static/blog/eslint-prettier-husky-lintstaged.md
Due: prettier --single-quote --write

Updates
  blog/eslint-prettier-husky-lintstaged.md
  blog/eslint-prettier-husky-lintstaged/index.html
  blog/how-to-setup-a-nice-terminal-using-zsh/index.html
  blog/index.html
  blog/software-manjaro-i3/index.html
  blog/zsh/desktop.png
  blog/zsh/index.html
  blog/zsh/index.md
  blog/zsh/terminal.png
  page-data/blog/eslint-prettier-husky-lintstaged/page-data.json
  page-data/blog/how-to-setup-a-nice-terminal-using-zsh/page-data.json
  page-data/blog/page-data.json
  page-data/blog/software-manjaro-i3/page-data.json
  page-data/blog/zsh/page-data.json
  rss.xml
  sitemap.xml
Due: prettier --single-quote --write

Verifying ownership for Google
  src/components/SEO.js
Due: eslint --fix

Updates
  404.html
  404/index.html
  b2521690e543193caf342324bf71d3f692a7171f-815744de0816cb9368b6.js
  b2521690e543193caf342324bf71d3f692a7171f-815744de0816cb9368b6.js.map
  b2521690e543193caf342324bf71d3f692a7171f-8528bbab9332b62c14f6.js
  b2521690e543193caf342324bf71d3f692a7171f-8528bbab9332b62c14f6.js.map
  blog/ebook/index.html
  blog/eslint-prettier-husky-lintstaged/index.html
  blog/index.html
  blog/manjaro-i3-troubleshooting/index.html
  blog/software-manjaro-i3/index.html
  blog/zsh/index.html
  index.html
  offline-plugin-app-shell-fallback/index.html
  page-data/app-data.json
  projects/index.html
  rss.xml
  sw.js
  webpack-runtime-841390a8db5ab3ee7007.js
  webpack-runtime-841390a8db5ab3ee7007.js.map
  webpack-runtime-9707895ba443e1a7c424.js
  webpack-runtime-9707895ba443e1a7c424.js.map
  webpack.stats.json
Due: eslint --fix, prettier --single-quote --write

Removed Google Analytics
  gatsby-config.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --single-quote --write

Updates
  404.html
  404/index.html
  app-5f88b8a15bba1f85c30d.js
  app-5f88b8a15bba1f85c30d.js.map
  app-5ff40ee745408df81d2c.js
  app-5ff40ee745408df81d2c.js.LICENSE.txt
  app-5ff40ee745408df81d2c.js.map
  blog/ebook/index.html
  blog/eslint-prettier-husky-lintstaged/index.html
  blog/index.html
  blog/manjaro-i3-troubleshooting/index.html
  blog/software-manjaro-i3/index.html
  blog/zsh/index.html
  chunk-map.json
  index.html
  offline-plugin-app-shell-fallback/index.html
  page-data/app-data.json
  projects/index.html
  rss.xml
  sw.js
  webpack.stats.json
Due: eslint --fix, prettier --single-quote --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --single-quote --write: any of: *.{json,scss,md}
